@import 'reset';
@import 'variables';

.buddy-main .border{
	border-bottom: 1px solid #00a1f1;
	display: block;
	content: " ";
}

.buddy-main {
	main{
	margin: 0px;
	}
}

.title {
	line-height: $size;
	font-size: $size;
	font-weight: $font-weight;
}

.container { width: $cn-width; }

.buddy-main header .wrapper,
.buddy-main .buddy .wrapper,
.buddy-main .buddy-description .wrapper,
.buddy-main .trainees .wrapper { 
	width: $wrapper;
	margin: 0 auto;
}

.buddy { 
	padding: $padding 0;
	border-bottom: 1px solid $black; 
	.buddy-image {
		width: 180px;
		height: 180px;
		border: 1px solid $black;
		border-radius: 50%;
		display: $display;
		overflow: hidden;
		vertical-align: middle;
		a { display: block; }
		img { width: 100%; }
	}
}

.buddy-main .trainee-desc {
	width: 30%;
	margin: 5px 3.2%;
	display: inline-block;
	vertical-align: middle;
	.designation { width: 56%; }
	.name { 
		margin: 0 0 20px;
		display: block;
		font: 700 30px arial;
		text-transform: capitalize;
	}
	.title {
		width: 25.5%;
		display: inline-block;
		font: 700 15px arial;
	}  
	.title1 { 
		padding-right: 2%;
		text-transform: capitalize;
		font: 700 15px arial; 
	}
	.desc { text-transform: capitalize; }
	span {
		font: 15px arial;
	}
}

.buddy-information {
	padding: 10px 0 0 $padding;
	display: $display;
	vertical-align: top; 
	.buddy-name { 
		line-height: $size;
		font-family: $font-family;
		font-size: $size;
		font-weight: $font-weight;
		text-transform: capitalize;
	}
	span {
		font-size: $size;
		font-weight: $font-weight;
		line-height: 1.5em;
		text-transform: capitalize;
	}
}

.buddy-information{
	p{
		.developer{
			font-weight: normal;
		}
	}
}
.buddy-description {
	padding: $padding 0;
	h2 {
		@extend .title;
		padding-bottom: 30px; 
		margin-bottom: 0px;
		font-size: 2.5em;
		text-align: $center;
		text-transform: uppercase;
		vertical-align: top;
		&:after {
			width: 70px; 
			@extend .border;
			margin: 0 47%;	
		}		
	}
	h3{
	color: #00a1f1;
	}
}

h3 {
	padding-bottom: 20px;
	font: 700 20px arial;
	text-align: center;
	&:after {
		width: 10%;
		padding-top: 5px; 
		@extend .border;
		margin: 0 auto;	
	}
}

.buddy-achievements { 
	width: 100%;
	display: flex;
	font-size: 1.2em;
	.achievements{
		width: 37.5%;
		margin-right: 3.8%;
		padding: 23px 75px 35px 50px;
		border: 1px solid $black;
		border-radius: 7px;
		display: inline-block;
		li { line-height: 1.5em; }
	}
	.current {
		width: 37.5%;
		padding: 23px 75px 63px 50px;
		border: 1px solid $black;
		border-radius: 7px;
		display: inline-block;
		vertical-align: top;
		li { line-height: 1.5em; }
	}
} 

.buddy-main .specialization { 
	width: 41.8%;
	padding: 23px 40px 30px 30px;
	border: 1px solid rgba(0, 0, 0, 0.52);
	border-radius: 7px;
	display: inline-block;
	vertical-align: middle;
	font-size: 1.2em;
	line-height: 1.5em;
	.manager{ 
		width: 40%;
		display: inline-block;
		font-weight: 700;
		text-transform: capitalize; 
	}
}

.buddy-achievements ul{
	padding-top: 20px;
	li{
		line-height: $size;
	}
}
@mixin underline($a){
	width: $a;
}
.buddy-main .trainees { 
	padding: $padding 0;
	text-align: $center;
	h2 {
		@extend .title;
		margin-bottom: 0px;
		font-size: 2.5em;
		text-align: $center;
		text-transform: uppercase;
		&:after {
			width: 70px;
			@extend .border;
			margin: 0 auto;
		}
	}
}

.buddy-main .trainees {
	ul {
		margin-top: $margin-top / 4;
		font-family: $font-family;
		text-align: $center;
		li { 
			width: 25%;
			padding: 0 131px;
			display: $display;
			a {
				display: block;
				color: $black;
				cursor: pointer;
				text-decoration: none;
				img {
					width: 75%;
					height: 235px;
					display: $display;
					border-radius: 50%;
				}
			}
		}
	}
}

.buddy-main .trainee-name {
	padding-top: 40px;
	display: block;
	font-weight: 700;
	text-transform: capitalize;
}

.buddy-main .trainee-name+span {
	display: block;
	line-height: 1.5em;
	text-transform: capitalize;
}

