/*======================================================================================
1. Header Styling
========================================================================================*/

.container { 
	padding: 60px 0 0;
	width: $cn-width;
}

.wrapper { 
	width: $wrapper;
	margin: 0 auto;
}

header { 
	border-bottom: 1px solid #999;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

h1 {
	padding: 20px 0; 
	display: inline-block;
	a{ display: block; }
}

nav { 
	padding: 20px 0;
	float: right;
	ul { 
		li { 
			margin-left: 2vw; 
			display: inline-block;
			a { 
				color: #000;
				text-decoration: none;
				text-transform: capitalize;
				transition: all 0.3s;
				&:hover { color: #666; }
			}

		}
	}
}