@import 'reset';
@import 'partial';
@import 'header';
@import 'mixin';

/*
1 - "",
2 - box-model,
3 - width,
4 - height,
5 - padding,
6 - border,
7 - border-radius,
8 - margin,
9 - display,
10 - overflow,
11 - position,
12 - z-index,
13 - bottom,
14 - left,
15 - right,
16 - top,



*/


/*====================================================================================
1. Main Styling
======================================================================================*/
.designation {
	@include codecop(8,"10px 0 30px",22,"center",1,"",1,"");

	&>div {
		@include codecop(3,"20%",8,"0 2%",9,"inline-block",1,"");

		div { @include codecop(3,"100%",7,"125px",8,"0 0 20px 0",9,"inline-block");	}
		span {  @include codecop(9,"block",21,700 21px $font-arial,1,"",1,""); }
	}
}

.banner{
	background: url(../images/IMG_20161014_120734.jpg) no-repeat;
	background-size: 100%;
	.wrapper { @include codecop(5,"30px 0",6,"1px solid transparent",10,"hidden",1,""); }
}

.byline,
.star,
.developers { color: #333; }

.star{	
	max-width: 850px;
	margin: 0 auto;
	@include codecop(8,"20px 0 40px",9,"inline-block",21,"16px 'Open Sans', sans-serif",27,"star 2s linear"); 

}

.byline { @include codecop(8,"30px 0 0 0", 27, "byline 2s linear", 26, "scale(1)",1,""); }

/* Make the 3D work on the container */
.starwars-demo {
	perspective: 800px;
	transform-style: preserve3d;
	-webkit-transform-style: preserve3d;
}

/* General styles and layout */

.starwars-demo { text-align: center; }
.byline span { @include codecop(8,"50px 0 0 0",9,"inline-block",1,"",1,""); }
img { width: 100%; }

.byline,
.developers {
	@include codecop(1,"",22,"center",1,"",1,"");
}

.byline {
	@include codecop(1,"",24,"uppercase",1,"",1,"");
	letter-spacing: 3px;
}


.developers { @include codecop(27,"dev 0.4s linear", 28,"5s", 1,"",1,""); }
.project-manager { @include codecop(27,"pm 0.4s linear", 28,"4s", 1,"",1,""); }
.designer { @include codecop(27,"designer 0.4s linear", 28,"3s", 1,"",1,""); }
.qa { @include codecop(27,"qa 0.4s linear", 28,"2.2s", 1,"",1,""); }

.developers,
.project-manager,
.designer,
.qa {
	animation-fill-mode: both;
	overflow: hidden;
	div {
		box-sizing: border-box;
		padding: 20%;
		background-color: rgba(0,0,0,0.5);
		img {

			transition: all 0.8s linear;
			&:hover {
				opacity: 0.8;
				transform: scale(1.1);
			}
		}
	}
}


h2 { 
	@include codecop(8,"0 0 100px",21,700 46px $font-arial,22,"center",24,"uppercase");
}

.control_next,
.control_prev {
	@include codecop(8,"170px 0 50px",20,"#000",1,"",1,"");
	text-decoration: none;
}

.control_next {	float: left; }
.control_prev { float: right; }

// Slider
// 

.slider-content { 
	padding: 150px 0;
	h2:after {
		content: " ";
		width: 10%;
		margin: 0 auto;
		display: block;
		border-bottom: 3px solid #333;
	}
}

.slider-class  { 
	text-align: center;
	li {
		@include codecop(2,"border-box",3,"26%",8,"2%",9,"inline-block");
		img { 
			@include codecop(3, "75%",8,"0 0 15px",1,"",1,"");
		}
		span {
			@include codecop(9,"inline-block",21,700 18px $font-arial,1,"",1,"");
		}
	}

	& li:nth-child(2) {
		transform: scale(1.5);
	}
}

/*============================================================================
Trainee Page
============================================================================*/
button { outline: none; }

.trainee-profile {
	padding: 0px 0 20px;
	#user-img {
		@include codecop(3,"180px",4,"180px",6,"1px solid black",7,"50%");
		@include codecop(9,"inline-block",10,"hidden",1,"",1,"");
		img { width: 100%; }
	}

	.tr-control {
		@include codecop(3,"46%",5,"0",6,"1px solid #ccc",7,"10px");
		display: inline-block;
		vertical-align: top;
        perspective: 1200px;
        overflow: hidden;
		h2 { @include codecop(8,"20px 0",21,700 25px $font-arial,22,"center",24,"capitalize"); }
		.label { 
			@include codecop(3,"20%",8,"8px 2%",9,"inline-block",21,700 16px $font-arial); 
			
		}
		.mock { 
			@include codecop(3,"75%",8,"8px 0",9,"inline-block",21,16px $font-arial);  
			vertical-align: top;
		}


	}
}

.trainee-desc {
	@include codecop(3,"30%",8,"20px 4% 0",9,"inline-block",1,"");
	vertical-align: top;
	div {
		margin: 5px 0;
	}
	.tr-name { @include codecop(9,"block",8,"0 0 20px",21,700 30px $font-arial,1,"");	}
	.title { @include codecop(3,"25%",9,"inline-block",21,700 15px $font-arial,1,""); }
	span { font: 15px $font-arial; }
}

.progress-wrapper{
   width: 100%;
   height: 20px;
   margin: 15px 0px;	
   border: 1px solid rgb(204, 204, 204);
   border-radius: 4px;
}

.progress { 
    height: 20px;
    margin-bottom: 15px;
	border-radius: 0px;
	position: absolute;
	text-align: center; 
}

.test-score,
.feedbacks {  @include codecop(3,"50%",8,"40px -1px",9,"inline-block",1,"");
}

.test-score{
	text-align: center;
	.pie { 
		@include codecop(3,"11vw",4,"11vw",8,"5% 5%",9,"inline-block");
		position: relative;
		.main-circle {
			@include codecop(3,"100%",4,"100%",7,"50%",19,"#333");
			.circle {
				@include codecop(2,"border-box",3,"90%",4,"90%",5,"35% 0");
				@include codecop(7,"50%",11,"absolute",14,"50%",16,"50%");
				background-color: white;
				transform: translateY(-50%) translateX(-50%);
				span { @include codecop(9,"block",22,"center",1,"",1,""); }
			}

		}

	}
}

.tr-score { 
	h4 { 
		@include codecop(8,"20px 0",21,700 40px $font-arial,22,"center",24,"uppercase");
		&:after {
			content: " ";
			width: 10%;
			border: 2px solid #00a1f1;
			margin: 0 auto;
			display: block;
		}
	} 
	a {
		display: inline-block;
		position:absolute;
		top:45%;
		@include codecop(5,"5px 10px",6,"",7,"5px",24,"capitalize");
		color: black;
		text-decoration: none;

		img {
			width: 50px;
			height: 80px;
		}
	}

	a.previous { left:0;}
	a.next { right:0;}
}

.feedbacks {
	@include codecop(7,"8px",19,"",22,"center",20,#fff);
	vertical-align: top;
	h5 { @include codecop(8,"20px 0",21,700 25px $font-arial,1,"",1,""); }
	label { 
		@include codecop(8,"10px 0",9,"inline-block",21,16px $font-arial,20,#e1e5e0);
	}
	.dev-area {
		@include codecop(3,"80%",8,"2%",9,"inline-block",22,"left");
		.feed { @include codecop(2,"border-box",3,"100%",1,"",1,""); }
	}
	textarea { 
		resize: none;
		width: 100%;
	}
}


//Circle Pie Chart Score's

@import 'homeanm';
@import 'footer';